<template>
  <div class="home container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>Logowanie</h1>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25">
        <form>
          <fieldset>
            <label for="email">Email</label>
            <input type="email" id="email" v-model="email">
            <label for="password">Hasło</label>
            <input type="password" id="password" v-model="password">
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25">
        <button class="button button-outline block" @click="login()">Login</button>
        <button class="button button-outline block"
                @click="loginWithGoogle()">Login with Google</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      password: '',
      email: '',
    };
  },
  methods: {
    login() {
      this.$firebase.passwordAuthenticate(this.email, this.password)
        .then((response) => {
          console.log(response);
          this.$router.push({ path: 'user' });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    loginWithGoogle() {
      this.$firebase.loginWithGoogle()
        .then((response) => {
          console.log(response);
          this.$router.push({ path: 'user' });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style>
  .block {
    width: 100%;
    display: block;
  }
</style>
