<template>
    <div class="user">
      Authenticated: {{authenticated}}
    </div>
</template>

<script>
export default {
  name: 'user',
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (vm.$firebase.isAuthenticated()) return true;
      vm.$router.replace({ name: 'home' });
      return false;
    });
  },
  computed: {
    authenticated() {
      return this.$firebase.isAuthenticated();
    },
  },
};
</script>

<style scoped>
  .user {}
</style>
