<template>
  <div id="app">
    <nav class="nav">
      <router-link :to="{name: 'home'}" class="button button-outline">Home</router-link>
      <router-link :to="{name: 'user'}" class="button button-outline">User</router-link>
      <button class="button" style="float: right" @click="logout()">Logout</button>
    </nav>
    <router-view/>
  </div>
</template>

<script>
import { firebasePlugin } from '@/plugins/firebase';
import Vue from 'vue';
import config from '@/config';

Vue.use(firebasePlugin, config);

export default {
  name: 'app',
  computed: {
    authenticated() {
      return this.$firebase.isAuthenticated();
    },
  },
  methods: {
    logout() {
      this.$firebase.logout()
        .then(() => {
          this.$router.push({ name: 'home' });
        });
    },
  },
};
</script>
<style>
.nav {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav .button {
  margin-right: 20px;
  transition: all 200ms;
  position: relative;
  top: 6px;
}
</style>
